.second-gallery {
    padding: 60px 25px 160px;
    min-height: calc(100vh - 121px);
}

.second-gallery img {
    -webkit-filter: grayscale(100%)
}

.second-gallery img:hover {
    -webkit-filter: grayscale(0%)
}

.img-polaroid {
    padding: 10px 10px 50px 10px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    transition: 0.4s all ease-in-out;
    will-change: transform;
}
.counter-clockwise {
    transform: rotate(-5deg) scale(0.8);
}

.clockwise {
    transform: rotate(10deg) scale(0.8);
}

.img-polaroid img {
    width: 100%;
}

.img-polaroid figcaption {
    margin-top: 15px;
    font-family: Lobster, sans-serif;
    font-size: 20px;
    color: black;
}

.img-polaroid:hover {
    opacity: 1;
    transform: scale(1.0);
}