.third-gallery {
    padding: 14px 25px 16px;
    min-height: calc(100vh - 121px);
}

.card {
    margin-bottom: 100px;
}
.memory-img img {
    transform: rotate(-8deg);
    box-shadow: 0 1px 6px #666;
    border: 4px solid #fff;
    background: #fff;
    padding: 8px;
}
.memory-img {
    position: relative;
    transform: rotate(6deg);
    box-shadow: 0 1px 6px #666;
    background: #fff;
}

.memory-img span:before {
    display: block;
    content: '';
    position: absolute;
    top: -28px;
    right: 64px;
    width: 14px;
    height: 54px;
    z-index: 1;
    border: 2px solid #9b9b9b;
    transform: rotate(4deg);
    box-shadow: 1px 1px 1px #555, inset 1px 1px 1px #585858;
    border-radius: 9px;
}

.memory-img span:after {
    display: block;
    content: '';
    position: absolute;
    top: -18px;
    right: 60px;
    width: 8px;
    height: 12px;
    background: #fff;
    z-index: 2;
}

@media (max-width: 1200px)  {
    span {
        display: none;
    }
}

@media (min-width: 1200px)  {
    span {
        display: block;
    }
}