#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #9b9b9b;
    background-color: #040001;
}

h1, h2 {
    font-weight: normal;
    padding-bottom: 50px;
}